<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find maps)/models/lane_recognition_course1/ground_picture" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find maps)/worlds/lane_recognition_course1.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="headless" value="true"/>
    <arg name="debug" value="false"/>
  </include>  
</launch>


