<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find maps)/models/traffic_light_course2/ground_picture" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find maps)/worlds/traffic_light_course2.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <arg name="x_pos" default="0.2"/>
  <arg name="y_pos" default="-0.2"/>
  <arg name="z_pos" default="0"/> 
  <arg name="roll" default="0.0" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="-1.565" />

</launch>