<launch>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find maps)/models/lane_recognition_course1/ground_picture" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find maps)/worlds/traffic_light_course2.world" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include> 

  <arg name="x_pos" default="0"/>
  <arg name="y_pos" default="-0.2"/>
  <arg name="z_pos" default="0"/> 
  <arg name="roll" default="0.0" />
  <arg name="pitch" default="0.0" />
  <arg name="yaw" default="-1.565" />


  <param name="traffic_stand_sdf" textfile="$(find maps)/models/traffic_light/traffic_bar_stand/model.sdf"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -param traffic_stand_sdf -model traffic_stand -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> 
  
  <param name="green_light_sdf" textfile="$(find maps)/models/traffic_light/lights/green_light/model.sdf"/>
  <node name="spawn_model_green_light" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -param green_light_sdf -model green_light -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> 
  
  <param name="yellow_light_sdf" textfile="$(find maps)/models/traffic_light/lights/yellow_light/model.sdf"/>
  <node name="spawn_model_yellow_light" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -param yellow_light_sdf -model yellow_light -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> 
  
  <param name="red_light_sdf" textfile="$(find maps)/models/traffic_light/lights/red_light/model.sdf"/>
  <node name="spawn_model_red_light" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -param red_light_sdf -model red_light -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/> 


  <arg name="x_p" default="-1.7"/>
  <arg name="y_p" default="0.08"/>
  <arg name="z_p" default="0"/>  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger_for_lane_recognition.urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model autorace -x $(arg x_p) -y $(arg y_p) -z $(arg z_p) -param robot_description" />

</launch>