<?xml version="1.0"?>

<model>
  <name>All Lights</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nico</name>
    <email>nico.vergeiner@students.uibk.ac.at</email>
  </author>

  <description>
    Lights sources to illuminate traffic signals
  </description>

</model>